.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    font-family: Impact;
}

.unfulfilled {
    color:rgb(72, 72, 221);
}

.menu {
    display: flex;
    flex-flow: row nowrap;
}

.menu li {
    list-style-type: none;
    margin-right: 15px;
}